.container {
  max-width: 1000px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mainproduct {
  margin-top: 30px;
}

.small-img-row {
  display: flex;
  justify-content: space-around;
}

.col2 img {
  max-width: 100%;
  padding: 50px 0;
}

.small-img-col {
  flex-basis: 24%;
  border-radius: 10px;
  cursor: pointer;
}

.mainproduct .col2 img {
  padding: 0;
}

.mainproduct .col2 {
  padding: 20px;
}

.col2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col1 {
  padding: 20px;
  margin-top: 0px;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.89px;
  text-align: left;
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.price span {
  font-family: 'Inter', sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 41.15px;
  text-align: left;
  color: #3A4980;
}

.price span:last-child {
  color: #FF000080;
  margin-top: 10px;
  margin-left: 10px;
}

.price span:nth-child(2) {
  font-size: 20px;
  text-decoration: line-through;
  font-weight: 400;
  margin-left: 10px;
}

.color-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
}

.color-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  cursor: pointer;
  position: relative;
}

.tick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.selected .tick {
  display: block;
}

.size-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.size-box {
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-color: #F3F3F3;
  border-radius: 8px;
  height: 30px;
  cursor: pointer;
}

.size-box input[type="radio"] {
  margin-right: 5px;
}

.size-box.selected {
  background-color: #3A4980;
  color: white;
}

.added {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  border-radius: 25px;
  height: 40px;
  background-color: #F3F3F3;
  color: #3A4980;
}

.addcart button {
  border: none;
  font-size: 20px;
  width: 100%;
  background-color: #3A4980;
  color: white;
  border-radius: 25px;
}

.addcart {
  display: flex;
  text-align: center;
  align-items: center;
  width: 150px;
  height: 40px;
  margin-left: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  background-color: #3A4980;
  color: white;
  font-size: 30px;
  border-radius: 25px;
  margin-top: 0px;
}

.counter-button {
  color: black;
  background-color: #F3F3F3;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 50%;
  margin: 0 5px;
}

.counter-button:hover {
  background-color: #3A4980;
}

.counter span {
  font-size: 18px;
  flex-grow: 1;
  text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 767px) {
  .row {
      flex-direction: column;
  }

  .col2,
  .col1 {
      width: 100%;
  }

  .small-img-col {
      flex-basis: 100%;
  }

  .addcart {
      padding-left: 0;
      margin-top: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .col2 {
      flex-basis: 45%;
  }

  .col1 {
      flex-basis: 50%;
  }
}

@media screen and (min-width: 1025px) {
  .col2 {
      flex-basis: 50%;
  }

  .col1 {
      flex-basis: 50%;
  }
}
